/* Styles for layout */
main {
    margin-left: auto;
    margin-right: auto;
}

/* Just pretty stuff */
h1, h2 {
    text-align: center;
}
h3 {
    font-size: 0.8em;
    font-style: italic;
    font-weight: normal;
}
p { 
    margin-bottom: 2em;
}
